.bgcontainer{
  background-image:url("/public/images/blogs5.jpg");
  height: 100vh;
  background-size: cover;
    
   
  }
  .bgcard{
    background-color: #FADCD9;
    border-radius: 20px;
  }
  .settingsPP {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .settingsPP > img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .settingsPPIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
  }

 